<div class="wrapper">
    <div class="pageheader" id="pageheader">
      <div class="container">
        <div class="col-md-6">
          <div class="container">
            <img class="container" id="logo" 
            src="/assets/pic/LOGO WEB.png"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row search_bar">
            <div class="form-group form-group-sm">
              <div class="col-md-6 col-md-push-5">
                <input class="form-control" type="text" 
                id="formGroupInputLarge" placeholder="Search">
              </div>     
            </div>
          </div>
          <div class="row ">
            <!-- nav bar -->
            <nav id="mnav">
              <ul>
                <li id="nav" class="col-md-3">
                  <a href="Home.html" style="color:#fff">หน้าหลัก</a>
                </li>
                <li id="nav" class="col-md-3">
                  <a href="Home.html" style="color:#fff">เกี่ยวกับ</a>
                  <ul>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">โลโก้ความหมาย</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ประวัติ</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">พันธกิจ</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ทำเนียบธุรกิจ</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ผู้บริหารปัจจุบัน</a>
                    </li>
                  </ul>
                </li>
                <li id="nav" class="col-md-3">
                  <a href="Home.html" style="color:#fff">หน่วยงาน</a>
                  <ul>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">หน่วยงาน 1</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">หน่วยงาน 2</a>
                     
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">หน่วยงาน 3</a> 
                      <ul>
                        <li>
                          <a href="Home.html" style="color:#fff">หน่วยงาน 3.1</a>
                        </li>
                        <li>
                          <a href="Home.html" style="color:#fff">หน่วยงาน 3.2</a>
                        </li>
                        <li>
                          <a href="Home.html" style="color:#fff">หน่วยงาน 3.3</a>
                        </li>
                      </ul>
                    </li>
                    <li style="color:#000" id="department">
                      <a href="Home.html" style="color:#fff">หน่วยงาน 4</a>
                    </li>
                  </ul>
                </li>
                <li id="nav" class="col-md-3">
                  <a href="Home.html" style="color:#fff">ติดต่อ</a>
                  <ul>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ติดต่อ 1</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ติดต่อ 2</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ติดต่อ 3</a>
                    </li>
                    <li style="color:#000" id="navnd">
                      <a href="Home.html" style="color:#fff">ติดต่อ 4</a><ul>
                        <li>
                          <a href="Home.html" style="color:#fff">ติดต่อ 4.1</a>
                        </li>
                        <li>
                          <a href="Home.html" style="color:#fff">ติดต่อ 4.2</a>
                        </li>
                        <li>
                          <a href="Home.html" style="color:#fff">ติดต่อ 4.3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
            <!-- nav bar end -->
          </div>
        </div>
      </div>
    </div>
    <!-- end page header -->
    <!-- pic slide  -->
    <div class="pagebody" id="pagebody" >
      <div id="slideshow-wrap">
        <input type="radio" id="button-1" name="controls" checked="checked"/>
        <label for="button-1"></label>
        <input type="radio" id="button-2" name="controls"/>
        <label for="button-2"></label>
        <input type="radio" id="button-3" name="controls"/>
        <label for="button-3"></label>
        <input type="radio" id="button-4" name="controls"/>
        <label for="button-4"></label>
        <input type="radio" id="button-5" name="controls"/>
        <label for="button-5"></label>

        <div id="slideshow-inner">
            <ul>

                <li id="slide1">
                    <img src="/assets/pic/slide1.png" height="520px" width="1347px"  />
                    
                </li>
      
                <li id="slide2">
                    <img src="/assets/pic/slide2.png" height="520px" width="1347px" />
                    
                </li>
      
      
                <li id="slide3">
                    <img src="/assets/pic/slide3.png" height="520px" width="1347px" />
                    
                </li>
      
      
                <li id="slide4">
                    <img src="/assets/pic/slide4.png" height="520px" width="1347px" />
              
                </li>
      
      
                <li id="slide5">
                    <img src="/assets/pic/slide5.png" height="520px" width="1347px" />
                    
                </li>
      
            </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- end pc slide -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="news">
          <div class="col-md-3">
            
          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
          <div class="col-md-3">

          </div>
        </div>
      <div class="row">
      </div>
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="underlinepageheader">
  </div>
  <div class="wrapper">
    <div class="pageunder" id="pageunder">
      <div class="container">
        <div class="col-md-6">
          <br><br><br><br><br><br>
          <div class="row ">
            <div class="form-group form-group-sm" > 
                   <img src="/assets/pic/NEW_DOWN_LOGO.png"/>
             </div> 
           </div> 
        </div>
        <div class="col-md-6">
          <br><br><br><br><br><br><br><br>
          <div class="row ">
            
          </div>
          <div class="row ">
              <div class="form-group form-group-sm" > 
              <div class="col-md-6 col-md-push-5">
                <img src="/assets/pic/youtube.png"  width="40" height="40" border="0"/> 
                <img src="/assets/pic/facebook.png" width="40" height="40" border="0"/>   
                <img src="/assets/pic/twitter.png"  width="40" height="40" border="0"/>
                <img src="/assets/pic/google.png"   width="40" height="40" border="0"/>
                <img src="/assets/pic/instagram.png"  width="40" height="40" border="0"/> 
               </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end footer -->
  